gitfour/src/main/mule/gitfour.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bc5769ea-2d45-42db-b32b-6ab3da48663f" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="gitfourFlow" doc:id="7d17eb5b-305e-4797-a1e4-5e50c64fa296" >
		<http:listener doc:name="Listener" doc:id="14b629f8-26ed-44c0-9446-4fc0bd3c3e28" path="path" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="29292310-c521-461f-bef5-5a19201bc547" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="01d773f9-b381-4be6-8214-aab7947fff95" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
