gitone/src/main/mule/gitone.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fd351e39-a118-4490-9a66-d31e3f235a16" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="gitoneFlow" doc:id="70193cb2-9315-4769-a6bd-6a1013c48b83" >
		<http:listener doc:name="Listener" doc:id="36a9f7ec-9d32-4921-8f3b-7883053f4b84" path="path" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="59e7dd13-1915-4175-911a-cbe5144e310b" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="858e67f6-e00c-418f-a416-e7fde44253fa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
